@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Poppins Light'), local('Poppins-Light'),
  url('./Poppins-Light.ttf') format('truetype'),
  url('./Poppins-Light.woff') format('woff'),
  url('./Poppins-Light.woff2') format('woff2');
  
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-RegularRegular'),
  url('Poppins-Regular.ttf') format('truetype'),
  url('Poppins-Regular.woff') format('woff'),
  url('Poppins-Regular.woff2') format('woff2');
  
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Poppins Medium'), local('Poppins-MediumMedium'),
  url('Poppins-Medium.ttf') format('truetype'),
  url('Poppins-Medium.woff') format('woff'),
  url('Poppins-Medium.woff2') format('woff2');
  
}

@font-face {
    font-family: 'Impact LT Std';
    src: url('ImpactLTStd.eot');
    src: local('Impact LT Std Roman'), local('ImpactLTStd'),
        url('ImpactLTStd.eot?#iefix') format('embedded-opentype'),
        url('ImpactLTStd.woff2') format('woff2'),
        url('ImpactLTStd.woff') format('woff'),
        url('ImpactLTStd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

