<section class="benefits container" id="benefits">
  <h2 class="benefits-title">BENEFITS <span>OF WORKING WITH ME</span></h2>
  <ul class="benefits-list">
    <li class="benefits-item">
      <svg class="benefits-icon">
        <use
          href="../img/sprite_icon_opt.svg#icon-user_icon"
          width="24"
          height="24"
          x="12"
          y="12"
        ></use>
      </svg>
      <h3 class="benefits-subtitle">EXPERTISE</h3>
      <p class="benefits-describe">
        With extensive experience in development, I have a deep understanding of
        programming and website development.
      </p>
    </li>
    <li class="benefits-item">
      <svg class="benefits-icon">
        <use
          href="../img/sprite_icon_opt.svg#icon-message-chat-icon"
          width="24"
          height="24"
          x="12"
          y="12"
        ></use>
      </svg>
      <h3 class="benefits-subtitle">COMMUNICATION</h3>
      <p class="benefits-describe">
        Understanding your needs and wants is my priority and I am always
        available for discussions and open to corrections.
      </p>
    </li>
    <li class="benefits-item">
      <svg class="benefits-icon">
        <use
          href="../img/sprite_icon_opt.svg#icon-brush_icon"
          width="24"
          height="24"
          x="12"
          y="12"
        ></use>
      </svg>
      <h3 class="benefits-subtitle">ART</h3>
      <p class="benefits-describe">
        Thanks to my creative nature, I am ready to accept challenges and help
        you bring your ideas to life.
      </p>
    </li>
    <li class="benefits-item">
      <svg class="benefits-icon">
        <use
          href="../img/sprite_icon_opt.svg#icon-hourglass_icon"
          width="24"
          height="24"
          x="12"
          y="12"
        ></use>
      </svg>
      <h3 class="benefits-subtitle">URGENT EXECUTION</h3>
      <p class="benefits-describe">
        I understand how important time is to you. Ready to work quickly and
        efficiently, without reducing the quality of work.
      </p>
    </li>
  </ul>
</section>
