<section class="footer">
    <div class="footer-container">
        <h2 class="footer-logo">LLOYD<span class="footer-logo-collor">JEFFERSON.</span></h2>
        <ul class="footer-menu">
            <li><a class="footer-link" href="https://www.instagram.com/goitclub/" target="_blank"></a>Instagram</li>
            <li><a class="footer-link" href="https://www.youtube.com/c/GoIT" target="_blank"></a>Facebook</li>
            <li><a class="footer-link" href="https://www.facebook.com/goITclub/" target="_blank"></a>Linkedin</li>
            <li><a class="footer-link" href="" target="_blank"></a>GitHub</li>
        </ul>
        <p class="footer-inscription">© Copyright 2024. Made by LloydJefferson</p>
    </div>
</section>