<section class="footer container">
    <div class="footer-container">
        <div class="footer-menu">
            <div class="logo">
                <a href="./index.html" class="footer-logo">LLOYD<span class="footer-logo-collor">JEFFERSON.</span></a>
            </div>
            <ul class="footer-list">
                <li><a class="footer-link" href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a>
                </li>
                <li><a class="footer-link" href="https://www.youtube.com/c/GoIT" target="_blank">Facebook</a></li>
                <li><a class="footer-link" href="https://www.facebook.com/goITclub/" target="_blank">Linkedin</a>
                </li>
                <li><a class="footer-link" href="https://github.com/smelik81/teamproject-js-08"
                        target="_blank">GitHub</a>
                </li>
            </ul>
        </div>
        <p class="footer-inscription">© Copyright 2024. Made by LloydJefferson</p>
    </div>
</section>