<header class="header">
  <div class="container">
    <div class="header-wrap">
      <a href="/src/index.html" class="header-link-logo">
        Lloyd<span class="logo-color">Jefferson.</span></a
      >
      <button class="header-btn"></button>

      <nav class="header-navigation">
        <ul class="header-menu">
          <li class="header-list">
            <a href="#" class="header-link">About me</a>
          </li>
          <li class="header-list">
            <a href="#" class="header-link">Projects</a>
          </li>
          <li class="header-list">
            <a href="#" class="header-link">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
