<header class="header">
  <div class="container">
    <div class="header-wrap">
      <a href="./index.html" class="header-link-logo">
        Lloyd<span class="logo-color">Jefferson.</span></a
      >
      <button id="mobileMenuBtn" class="header-btn" type="button" aria-label="mobile btn menu">
        <svg class="btn-svg" width="24" height="24">
          <use
            href="/img/sprite_icon_opt.svg#icon-burger_menu"
            class="btn-svg-burger"
          ></use>
        </svg>
      </button>

      <nav class="header-navigation">
        <ul class="header-menu">
          <li class="header-list">
            <a href="#about-me" class="header-link">About me</a>
          </li>
          <li class="header-list">
            <a href="#projects" class="header-link">Projects</a>
          </li>
          <li class="header-list">
            <a href="#together" class="header-link">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- header-mobile -->
  </div>
</header>
