<section class="hero">
  <div class="container">
    <div class="hero-container">
      <h1 class="hero-title">
        <span class="title-pictire">
          Hello, I am
          <picture>
            <source
              srcset="/img/hero/hero-1x.jpg 1x, /img/hero/hero-2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <img
              class="my-photo"
              src="/img/hero/hero-1x.jpg"
              alt="Photo"
              width="108"
            />
          </picture>
        </span>

        <span class="hero-title-green">Fullstack Developer</span>
      </h1>
      <div class="hero-description">
        <a href="#together" class="order-link-hero">
          <div class="svg-order">
            <svg class="hero-arrow-order" width="28" height="28">
              <use href="/img/sprite_icon_opt.svg#icon-Arrow_right"></use>
            </svg>
            <span class="order-link">order the project</span>
          </div>
          <div class="order-link-block"></div>
        </a>

        <p class="hero-text">
          I work with people all over the world to create
          <span class="hero-text-color">impressive</span> and
          <span class="hero-text-color">functional websites</span> that reflect
          each client's unique personality.
        </p>
      </div>
    </div>
  </div>

  <div class="hero-soc">
    <ul class="hero-soc-list">
      <li class="hero-soc-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="hero-soc-link"
          target="_blank"
          rel="noopener noreferrer"
          >Instagram</a
        >
      </li>

      <li class="hero-soc-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="hero-soc-link"
          target="_blank"
          rel="noopener noreferrer"
          >Facebook</a
        >
      </li>

      <li class="hero-soc-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="hero-soc-link"
          target="_blank"
          rel="noopener noreferrer"
          >LinkedIn</a
        >
      </li>

      <li class="hero-soc-item">
        <a
          href="https://github.com/smelik81/teamproject-js-08"
          class="hero-soc-link"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
      </li>
    </ul>
  </div>
</section>
