 <section class="modale">
   <div class="container">
      <div id="mobileWindow" class="modale-window">
        <div class="container modale-nav">
          <div class="modale-wrap">
             <a href="./index.html" class="mobile-link-logo">
          Lloyd<span class="logo-color">Jefferson.</span></a>
            <button id="modaleClose" class="modale-close-btn" type="button">
             <svg class="header-modale-svg" width="24" height="24">
                <use href="/img/sprite_icon_opt.svg#icon-close_icon_btn"></use>
              </svg>
            </button>
          </div>
          <div class="modale-block">
            <ul class="modale-list">
              <li class="modale-item">
                <a href="#about-me" class="mobile-link">About me</a>
              </li>
              <li class="modale-item">
                <a href="#projects" class="mobile-link">Projects</a>
              </li>
              <li class="modale-item">
                <a href="#together" class="mobile-link">Contacts</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
 </section>