
<section class="reviews-section">
    <div class="reviews-section-wrapper">
        <h2 class="section-title">REVIEWS</h2>
        <div class="swiper">
            <ul class="reviews-list swiper-wrapper">
        
            </ul>
        
        </div>
        <!-- ---Контейнер для кнопок навігації---- -->
        <div class="swiper-navigation-container">
            <button class="swiper-button-prev" aria-label="Previous slide" tabindex="0">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 12H4.00001" stroke="#CCCCCC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M10 18L4 12L10 6" stroke="#CCCCCC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
            </button>
            <button class="swiper-button-next" aria-label="Next slide" tabindex="0">
                    <svg width="24" height="24">
                        <use href="./img/sprite_icon_opt.svg#icon-arrow-narrow-right"></use>
                    </svg>
                
                <!-- <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_2087_1301)">
                        <path d="M4 12H20" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <g filter="url(#filter0_d_2087_1301)">
                            <path d="M14 6L20 12L14 18" stroke="#292929" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" shape-rendering="crispEdges" />
                        </g>
                    </g>
                    <defs>
                        <filter id="filter0_d_2087_1301" x="9" y="5" width="16" height="22" filterUnits="userSpaceOnUse"
                            color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                result="hardAlpha" />
                            <feOffset dy="4" />
                            <feGaussianBlur stdDeviation="2" />
                            <feComposite in2="hardAlpha" operator="out" />
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2087_1301" />
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2087_1301" result="shape" />
                        </filter>
                        <clipPath id="clip0_2087_1301">
                            <rect width="24" height="24" fill="white" />
                        </clipPath>
                    </defs>
                </svg> -->
        
            </button>
        </div>

    
        
    </div>
    
</section>