
<section class="reviews-section">
    <div class="reviews-section-wrapper container">
        <h2 class="section-title">REVIEWS</h2>
        <div class="swiper">
            <ul class="reviews-list swiper-wrapper">
        
            </ul>
        
        </div>
        <!-- ---Контейнер для кнопок навігації---- -->
        <div class="swiper-navigation-container">
            <button class="swiper-button-prev" aria-label="Previous slide" tabindex="0">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 12H4.00001" stroke="#CCCCCC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M10 18L4 12L10 6" stroke="#CCCCCC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
            </button>
            <button class="swiper-button-next" aria-label="Next slide" tabindex="0">
                    <svg width="24" height="24">
                        <use href="./img/sprite_icon_opt.svg#icon-arrow-narrow-right"></use>
                    </svg>
        
            </button>
        </div>
         </div>

    
</section>