<section class="tech-skills">
    <h2 class="visually-hidden">Tech Skills</h2>
    <div class="container tech-skills-container">
        <div class="education">
            <h3 class="tech-skills-title">EDUCATION</h3>
            <ul class="tech-skills-list">
                <li class="tech-skills-item">2018 - 2019  / Frontend Development Diploma, GoIT IT School, New York</li>
                <li class="tech-skills-item">2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</li>
                <li class="tech-skills-item">2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
            </ul>
        </div>
        <div class="role">
            <h3 class="tech-skills-title">ROLE</h3>
            <ul class="tech-skills-list">
                <li class="tech-skills-item">Frontend development</li>
                <li class="tech-skills-item">HeadlessCMS, Wordpress</li>
                <li class="tech-skills-item">Blender (enjoy)</li>
            </ul>
        </div>
    </div>   
</section>        
<section class="marquee-section">
    <div class="marquee">
        <div class="top-marquee">
            <div class="marquee-content-top">
                <p class="content">
                    <span>HTML/CSS</span>     
                    <span>JAVASCRIPT</span>
                    <span>REACT</span>
                    <span>NODE.JS</span>
                    <span>REACT NATIVE</span>
                    <span>TYPE SCRIPT</span>
                </p>
            </div>
            </div>
            <div class="bootom-marquee">
            <div class="bootom-marquee-content">
                <p class="bootom-content">
                    <span>HTML/CSS</span>     
                    <span>JAVASCRIPT</span>
                    <span>REACT</span>
                    <span>NODE.JS</span>
                    <span>REACT NATIVE</span>
                    <span>TYPE SCRIPT</span>
                </p>
            </div>
        </div>
    </div>   
</section>
