<section id="together" class="together container">
  <h2 class="work-title">
    let’s <span class="title-span"> work together</span>
  </h2>
 <div class="work-together">
   <div class="contacts-box">
    <p class="work-text">
      Contact me to transform your ideas into exceptional solutions.
    </p>
    <ul class="contacts-list">
      <li class="contacts-list-item">
        <svg class="contacts-work-svg" width="24" height="24">
          <use href="./img/sprite_icon_opt.svg#icon-phone_icon"></use>
        </svg>
        <a class="contacts-work-link" href="tel:+380904567890">
          +38 090 456 78 90
        </a>
      </li>
      <li class="contacts-list-item">
        <svg class="contacts-work-svg" width="24" height="24">
          <use href="./img/sprite_icon_opt.svg#icon-email_icon"></use>
        </svg>
        <a class="contacts-work-link" href="mailto:lloydjefferson@gmail.com">
          lloydjefferson@gmail.com
        </a>
      </li>
      <li class="contacts-list-item">
        <svg class="contacts-work-svg" width="24" height="24">
          <use href="./img/sprite_icon_opt.svg#icon-gps_icon"></use>
        </svg>
        <a
          class="contacts-work-link"
          target="_blank"
          href="https://maps.app.goo.gl/LCiAYpx9y6Tn88iJ6"
          >USA, New York</a
        >
      </li>
    </ul>
  </div>

  <form class="contact-form">
    <div class="email-box">
      <label for="email" class="form-email-lable"></label>
      <input
        class="form-input-email"
        type="email"
        id="email"
        name="email"
        placeholder="Your email*"
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        required
      >
    </div>

    <div class="massage-box">
      <label class="form-lable-massage" for="message"></label>
      <textarea
        class="comment-field"
        id="message"
        name="message"
        placeholder="Message"
        required
      ></textarea>
    </div>

    <button class="form-button-submit" type="submit">SEND MESSAGE</button>
  </form>
 </div>

  <div id="modal" class="modal"  style="display: none">
    <div class="modal-content">
      <svg class="close-button" width="24" height="24">
        <use href="./img/sprite_icon_opt.svg#icon-close_modal"></use>
      </svg>
      <!-- ./img/sprite_icon_opt.svg#icon-close_modae -->
      <!-- <span class="close-button">&times;</span> -->

      <div class="modal-text-content">
        <h3 class="modal-title">
          Thank you for your interest in cooperation!
        </h3>
        <p class="modal-text">
          The manager will contact you shortly to discuss further details and
          opportunities for cooperation. Please stay in touch.
        </p>
      </div>
    </div>
  </div>
</section>

