:root {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #F0F0F0;
  background-color: #1E2023;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

section {
  background-color: #1e2023;
}

.container {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}


/* mobile fluid layout, Гумова верстка до 360px*/
@media only screen and (min-width: 320px) and (max-width: 359.99px) {
  .container {
    padding: 0 20px;
  }
}

/* mobile adaptive */
@media only screen and (min-width: 360px) {
  .container {
    max-width: 360px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

/* tablet */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

/* desktop */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
