.my-project-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 80px;
}
.my-project-container {
  width: 100%;
}
.my-project-section-title {
  font-family: 'Impact', sans-serif;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.my-project-section-title span {
  color: #14c57c;
}

.my-project-list {
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.my-project-item {
}
.my-project-link {
  pointer-events: none;
  cursor: default;
}
.my-project-image {
  border-radius: 20px;
  width: 100%;
}
.my-project-tech {
  padding-top: 12px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #f0f0f0;

  margin-right: auto;
}
.my-project-item-title {
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #f0f0f0;
}
.my-project-item-btn-visit {
  border-radius: 8px;
  padding: 12px 24px;
  background-color: #2a2d32;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #f0f0f0;
  display: flex;
  gap: 12px;
  margin-left: auto;
}
.my-project-item-btn-visit:hover {
  background-color: #3b3f45;
}
.my-project-item-btn-visit:focus {
  background-color: #3b3f45;
}

.my-project-btn-load-more {
  position: relative;
  background: transparent;
  padding: 12px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f0f0f0;
  display: block;
  margin: 40px auto 0;
}
.my-project-btn-load-more:hover {
  color: #14c57c;
}

.my-project-btn-load-more span {
  position: relative;
}

.my-project-btn-load-more span::after {
  content: '';
  position: absolute;
  max-width: 125px;
  height: 2px;
  border-radius: 2px;
  background-color: #14c57c;
  width: 100%;
  bottom: -6px;
  left: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .my-project-section {
    padding-bottom: 124px;
  }

  .my-project-section-title {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
  }
  .my-project-list {
    gap: 60px;
  }
  .my-project-image {
    border-radius: 30px;
  }
  .my-project-item-title {
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.01em;
  }
  .my-project-div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .my-project-btn-load-more {
    font-size: 20px;
    line-height: 1.6;
    margin: 60px auto 0;
  }
}

/* desktop */
@media only screen and (min-width: 1280px) {
  .my-project-section {
    padding-bottom: 164px;
  }

  .my-project-section-title {
    margin-bottom: 80px;
  }
  .my-project-section {
    gap: 80px;
  }
  .my-project-list {
    gap: 80px;
  }
  .my-project-btn-load-more {
    margin: 80px auto 0;
  }
}
