
/* @media only screen and (min-width: 320px) and (max-width: 359.99px) {
    .reviews-section-wrapper {
        max-width: 359.99px;
        padding: 0px 20px;
            margin: 0 auto;
    }
} */
    .reviews-section {
        background-color: #1E2023;
        /* position: relative; */
    }

    .section-title {
        font-weight: 400;
        font-size: 52px;
        line-height: 1.23;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: white;
        text-align: center;
        margin: 0px;
        font-family: 'Impact LT Std', sans-serif;
    }

    .reviews-list {
        margin: 0;
        padding: 0;
        margin-top: 40px;
        list-style: none;
        display: flex;
    }

    .list-text {
        font-weight: 300;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        color: white;
        text-align: left;
        overflow: hidden;
        overflow-y: auto;
        /* margin-bottom: 24px; */
    }

        .list-text::-webkit-scrollbar {
            width: 8px;
        }
    
        /* Стилі для треку скролбару (фонова частина) */
        .list-text::-webkit-scrollbar-track {
            background: #1E2023;
            border-radius: 8px;
        }
    
        /* Стилі для повзунка скролбару */
        .list-text::-webkit-scrollbar-thumb {
            background: #CCCCCC;
            border-radius: 4px;
            border: 2px solid #1E2023;
        }
    
        .list-text::-webkit-scrollbar-thumb:hover {
            background: #A9A9A9;
        }

    .reviews-container {
        max-width: 320px;
        height: 232px;
        border-radius: 16px;
        padding: 32px;
        margin: 0 auto;
        background-color: #2a2d32;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        gap: 24px;
        
    }

    .reviews-username {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        color: white;

    }

    .user-info {
        display: flex;
        gap: 16px;
        width: 256px;
        height: 40px;
        align-items: center;
        
    }
    



    .swiper-navigation-container {
        /* position: absolute; */
        /* bottom: 60px; */
        margin: 24px 0 0 auto;
        
        right: 10px;
        display: flex;
        gap: 18px;
        width: 96px;
        height: 40px;}

    .reviews-section .swiper-button-next,
    .reviews-section .swiper-button-prev {
        border: 1px solid #2a2d32;
        display: flex;
        align-items: center;
        justify-content: center;
    background-color: inherit;
    border-radius: 8px;
    padding: 0px;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    /* margin-left: 18px; */
    }

    .reviews .swiper-button-prev {
        margin-right: 18px;
    }

    .swiper-button-prev:not([disabled]):hover {
        background-color: #2a2d32;
    }

    .swiper-button-next:not([disabled]):hover {
        background-color: #2a2d32;
    }
    
        

    

    .reviews .swiper-button-next::after,
    .reviews .swiper-button-prev::after {
        display: none;
    }

    button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    }

    .reviews .swiper-button-prev svg,
    .reviews .swiper-button-next svg {
        width: 16px;
        height: 16px;
        fill: none;}

    
    .reviews-list- swiper-wrapper {
        max-width: 320px;
    }
    
   @media screen and (min-width: 768px) {
    .reviews-section {
        margin-top: 124px;
    }
    .section-title {
        font-size: 108px;
        line-height: 1.15;
        letter-spacing: 0.02em;
    }
    .reviews-section-wrapper {
        /* height: 464px; */
        max-width: 704px;
        padding: 0px 32px;
    
        }
    .reviews-list {
        margin-top: 60px;
    }
    .list-text {
    }
    .reviews-container {
        max-width: 704px;
        height: 161px;
        
    }
    .swiper-navigation-container {
        gap: 24px;
    width: 104px;
}
        
   }
   @media screen and (min-width: 1280px) {
.reviews-section {
        margin-top: 164px;
    }

    .reviews-section-wrapper {
        /* height: 500px; */
        max-width: 1280px;

    }

    .reviews-list {
        margin-top: 80px;
    }

    .list-text {}

    .reviews-container {
        max-width: 592px;
        height: 161px;
        justify-content: space-between;
    }

    .swiper-navigation-container {
        gap: 24px;
        width: 104px;}
   }
   