
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow: hidden;
clip: rect(0, 0, 0, 0);
border: 0;
}

.tech-skills-list {
display: flex;
flex-direction: column;
row-gap: 12px;
}

.tech-skills-title {
font-weight: 500;
font-size: 32px;
line-height: 125%;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #ffffff;
padding-top: 40px;
padding-bottom: 32px;
}

.tech-skills-item {
font-weight: 300;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.03em;
color: #ffffff;
position: relative;
padding-left: 20px;
}

.tech-skills-item::before {
content: "";
position: absolute;
left: 4px;
transform: translateY(250%);
width: 4px;
height: 4px;
background-color: #14c57c;
border-radius: 1px;
}

.marquee {
display: flex;
flex-direction: column;
overflow: hidden;
margin-top: 82px;
}

.marquee-content-top {
background-color: #204136;
width: auto;
display: inline-block;
animation: marquee 10s linear infinite;
}

.bootom-marquee-content {
background-color: #2a2d32;
width: auto;
display: inline-block;
animation: marquee 10s linear infinite;
}

.content {
font-weight: 500;
font-size: 32px;
line-height: 125%;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #ffffff;
margin-right: 23px;
margin-left: 23px;
padding: 32px;
white-space: nowrap;
}

.bootom-marquee {
transform: rotate(2deg);
}

.bootom-content {
font-weight: 500;
font-size: 32px;
line-height: 125%;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #14c57c;
margin-right: 23px;
margin-left: 23px;
padding: 32px;
white-space: nowrap;
}

.content span::before {
content: "";
display: inline-block;
width: 8px;
height: 8px;
background-color: #14c57c;
transform: translateY(-50%);
margin-right: 23px;
margin-left: 23px;
vertical-align: middle;
}

.bootom-content span::before {
content: "";
display: inline-block;
width: 8px;
height: 8px;
background-color: white;
transform: translateY(-50%);
margin-left: 23px;
margin-right: 23px;
vertical-align: middle;
}

@keyframes marquee {
0% {
transform: translateX(-100%);
}
100% {
transform: translateX(100%);
}
}

@media screen and (min-width: 768px) {}

